*.egg-info/
*.par
__pycache__
agilepy/testing/demo/out
dist/
build/
out/
docs/build/
docs/source/_build
cov_html_report/
.idea
.ipynb_checkpoints
.coverage
.codacy-coverage
upload_coverage_report.sh
.vscode
test_logs

load_env.sh
/tmp/agilepy_test/Agilepy/agilepy/testing/unittesting/api/out
tag.sh
*.png
*.npy
agilepy/testing/unittesting/utils/data/1640082532426.tar
agilepy/testing/unittesting/utils/data/1640082575163.tar
agilepy/testing/unittesting/api/data/test_ag_eng_agile_fermi_offaxis_visibility_comparison
