include README.md

recursive-include * *.py
recursive-include * *.yaml
recursive-include * *.xml
recursive-include * *.source
recursive-include * *.sh
recursive-include * *.txt
recursive-include * *.ipynb

recursive-exclude * __pycache__
recursive-exclude * *.egg-info
recursive-exclude * *.pyc
recursive-exclude * *.out
prune out*
