include README.md

include *.py
include *.yaml
include *.xml
include *.source
include *.sh

recursive-exclude * __pycache__
recursive-exclude * *.egg-info
recursive-exclude * *.pyc
recursive-exclude * *.out
prune out*
