[run]
branch = True
omit =
    */__init__.py
    */testing/*
    */scripts/*
    */notebooks/*

[report]
exclude_lines =
    # Don't complain if non-runnable code isn't run:
    if __name__ == .__main__.:

ignore_errors = True
